*{
    margin: 0;
    padding: 0;
   
}

.main-section{
    display: flex;
    
}
/* .container{
  width: 100%;
} */

.navigation{
    display: flex;
    width: 100%;
    height: 65px;
    background-color: #1D2A35; 
    position: sticky;
    top: 0;
}
.school{
    display: flex;
}
.school img{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 15px;
    cursor: pointer;
}
.star{
    display: flex;
    margin-left: 25px;
    margin-top: 21px;
   
}
.star li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
   
}
.star li a{
    text-decoration: none;
    font-size: 16px;
    font-family: sans-serif;
    padding: 10px 10px;
    color: white;
}
.star li a:hover{
    /* border: 1px solid red; */
    background-color: #04AA6D;
    width: 45px;
    height: 40px;
}
/* search */
.Search-bar{
    display: flex;
    margin-left: 25px;
    margin-top: 13px;
}
.Search-bar input{
    width: 185px;
    height: 35px;
    border: 2px solid  #193D3D;
    border-radius: 32px;
    border: none;
}
.Search-bar i{
   margin: 8px -18px;
}
.Search-bar input:focus{
    outline: none;
}
.dark{
margin-top: 4px;
margin-left: 60px;
}
.dark i{
    color: white;
}

/* right side */

.right-side{
     display: flex;
     justify-content:right;
     margin-left:110px ;
    
     
}
.goal{
    display: flex;
    margin-top: 3px;
    padding: 8px;
    margin-left: 25px;
    align-items: center;
   
} 
 .goal:hover{
    border-radius: 32px;
    background-color: blue;
    padding: 10px 5px;
   
}
.goal p{
    color: white;
    margin-left: 8px;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.goal i{
    font-size: 12px;
    color: #9763f6;
    margin-top: 3px;
    
}

.space{
    display: flex;
    margin-top: 18px; 
    padding: 8px;
    margin-left: 10px;
}
.space p{
    color: white;
    margin-left: 8px;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.space i{
    font-size: 12px;
    color: #9763f6;
    margin-top: 3px;
    margin-left: 10px;
}
.get-shoping{
    display: flex;
    margin-top: 18px;
    padding: 8px;
}
.get-shoping p{
    color: white;
    margin-left: 8px;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.get-shoping i{
    font-size: 14px;
    color: #9763f6;
    margin-top: 3px;
    margin-left: 10px;
}

.account{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-left: 10px;
    padding: 5px;
}
/* .account p{
    color: white;
} */
.sign{
    border: 1px solid #DDD;
    width: 90px;
    height: 25px;
    padding: 9px 3px;
    margin-top: -11px;
    padding-left: 25px;
    border-radius: 32px;
    background-color: #04AA6D;
    border: none;
    font-size: 17px;
    color: white;
    margin-right: -35px;
}
.login{
    border: 1px solid #DDD;
    width: 90px;
    height: 25px;
    padding: 9px 3px;
    border-radius: 32px;
    background-color: white;
    margin-top: -11px;
    padding-left: 19px;
    /* margin-left: -35px; */
}
.login:hover{
    background-color:#04AA6D ;
    border: none;
}
/* NAV-BAR */
.nav-bar{
    background-color: #1D2A31;
    width: 100%;
    height: 35px;
    position:fixed;
    position:static;
    top:0;
    
}
.nav-bar li  a:hover{
    /* background-color: black; */
     /* padding: 8px 3px; */
}
.nav-bar ul{
    display: flex;
   
}
.nav-bar li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    margin-top: 7px;
   
}
.nav-bar li a{
    text-decoration: none;
    padding: 15px;
    color: hwb(60 99% 0%);
    font-size: 14px;
   
    
}
/* left-side */


.left-side{
    width: 16%;
    height:100%;
    background-color: #15202B;
    overflow-y: scroll;
    scrollbar-color: #1D2A35;
    position:-webkit-sticky;
    top:0
   
}
/* .left-side ul{
    position: sticky;
    top: 0;
} */
.left-side p{
    padding-top: 15px;
    padding-left: 19px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #D7FFFF;
    font-weight: bold;
    
  
}
.left-side li{
     list-style-type: none;
     /* padding: 0;
     margin: 0; */
}
.left-side ul{
    margin-left: 8px;
}
.left-side a{
    text-decoration: none;
    padding: 10px;
    color: #F6F5F0;
    font-size: 15px;
    font-family:"Segoe UI",Arial,sans-serif;
    line-height: 1.8;
    
}
.left-side ul li  a:hover{
    background-color: #6E7C7C;
    display: block;
    padding: 2px 1px 1px 16px;
   
}

/* middle side */

.middle-side{
    background-color: #1D2A35;
    width: 70%;
    border-right: 1px dotted #ddddddb8;
   
}
.middle {
margin-top: 100px;
}
.middle p{
    margin-left: 25px;
    color: white;
    font-size: 28px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}
.next{
    display: flex;
    justify-content: space-between;
    margin: 35px;
}
.next a{
    border: 1px solid #ddd;
    width: 105px;
    height: 30px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-top: 11px;
    border-radius: 8px;
    color: white;
    background-color: #04AA6D;
    border: none;
    font-size: 19px;
}
.next i{
    padding-top: 2px;
    padding: 3px;
}
.next a:hover{
    background-color: #01AA5C;
}

.study{
    background-color: #193D3D;
    height: 340px;
}

.study-one{
    /* padding-top: 35px; */
    padding: 35px;
    line-height: 1.8;
}
.study-one p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
}

.study-two{
    padding-left: 10px;
    border: 1px solid #ddd;
    width: 280px;
    height: 40px;
    display: flex;
    justify-content: center;
    padding-top: 17px;
    border-radius: 5px;
    background-color: #04AA6D;
    border: none;
    margin-left: 25px;
    margin-top: -15px;
    margin-bottom: 25px;
}
.study-two a{
    text-decoration: none;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.study-two i{
    font-size: 10px;
    
}


.watch{
   border: 1px solid #ddd;
   width: 250px;
   height: 30px;
   display: flex;
   justify-content: center;
   padding-top: 11px;
   border-radius: 5px;
   margin-left: 25px;
   background-color: #15201B;
   border: none;
}
.watch a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.watch i{
    font-size: 8px;
}

button {
    border: 1px solid #ddd;
    width: 70px;
    height: 30px;
    border-radius: 32px;
    background-color: #EBCB8F;
    
}
button a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
   
}
.btn{
    margin-top: -150px;
    left: -80px;
     rotate: -12deg;
}
.line{
    border-bottom: 1px dotted white;
    margin-top: 25px;
    width: 885px;
    margin-left: 25px;
}
/* right-side */

.right-r{
    background-color: #1D2A35;
    width: 14%;
}
.right{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.right p{
    color: white;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.get{
    display: flex;
    justify-content: center;
    margin-top: 550px;
}

.picker{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.picker p{
    color: white;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.picker p:hover{
    color: #01AA5C;
    cursor: pointer;
}

.gridder{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    cursor: pointer;
}
.insta{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.insta i{
    padding: 5px 8px;
    color: black;
    background-color: white;
    border: 1px solid #ddd;
    /* width: 5px;
    height: 3px; */
    display: flex;
    justify-content: center;
    margin: 5px;
    border-radius: 4px;
    font-size: 18px;
   
    
   
}

